<!-- Modal -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__close-btn" data-modal-close>
      <svg class="modal__close-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form class="modal-form" autocomplete="on" novalidate>
      <strong class="modal-form__contact-head">Order Form</strong>
      <div
        class="modal-form__group"
        role="group"
        aria-labelledby="contact_head"
        id="contact_head"
      >
        <label class="modal-form__field">
          <span class="modal-form__label">Name</span>
          <input
            class="modal-form__input"
            type="text"
            name="name"
            placeholder="Your name"
            required
            minlength="3"
            maxlength="25"
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
          />
          <svg class="subscribtion-form__icon" width="12" height="12">
            <use
              class="subscribtion-form__error"
              href="./images/icons.svg#error"
            ></use></svg
          ><span class="modal-form__validation"
            >The name must be between 3 and 25 characters</span
          >
          <span class="modal-form__required">This field is required</span>
        </label>

        <label class="modal-form__field">
          <span class="modal-form__label">Phone number</span>
          <input
            class="modal-form__input"
            type="tel"
            name="tel"
            placeholder="+38(0_ _) _ _ _   _ _   _ _"
            required
          />
        </label>

        <label class="modal-form__field">
          <span class="modal-form__label">E-mail</span>
          <input
            class="modal-form__input"
            type="email"
            name="email"
            placeholder="example@gmail.com"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            required
          />
        </label>
      </div>

      <button class="btn modal-form__btn" type="submit">Send</button>
    </form>
  </div>
</div>
