<section class="custumer">
  <div class="container">
    <h2>What our Customers Say</h2>
    <ul class="costumer__list">
      <li class="costumer__link">
        <svg width="17" height="16" class="stars-icon">
          <use href="./images/icons.svg#star"></use>
        </svg>
        <svg width="17" height="16" class="stars-icon">
          <use href="./images/icons.svg#star"></use>
        </svg>
        <svg width="17" height="16" class="stars-icon">
          <use href="./images/icons.svg#star"></use>
        </svg>
        <svg width="17" height="16" class="stars-icon">
          <use href="./images/icons.svg#star"></use>
        </svg>
        <svg width="17" height="16" class="stars-icon">
          <use href="./images/icons.svg#star"></use>
        </svg>
      </li>
      <li class="costumer__link">
        <p class="costumeer__feedback">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
      </li>
      <li class="costumer__link">
        <svg width="48" height="48" class="f_custumer-icon">
          <use href="./images/icons.svg#custom-1"></use>
        </svg>

        <div>
          <p class="costumer__name">Sumith Shah</p>
          <p class="costumer__niv>">Sumith Shah</p>
        </div>
      </li>
    </ul>

    <ul class="costumer__list">
      <li class="costumer__link">
        <svg width="17" height="16" class="stars-icon">
          <use href="./images/icons.svg#star"></use>
        </svg>
        <svg width="17" height="16" class="stars-icon">
          <use href="./images/icons.svg#star"></use>
        </svg>
        <svg width="17" height="16" class="stars-icon">
          <use href="./images/icons.svg#star"></use>
        </svg>
        <svg width="17" height="16" class="stars-icon">
          <use href="./images/icons.svg#star"></use>
        </svg>
        <svg width="17" height="16" class="stars-icon">
          <use href="./images/icons.svg#star"></use>
        </svg>
      </li>
      <li class="costumer__link">
        <p class="costumeer__feedback">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
      </li>
      <li class="costumer__link">
        <svg width="48" height="48" class="s-custumer-icon">
          <use href="./images/icons.svg#custom-2"></use>
        </svg>

        <div>
          <p class="costumer__name">Sumith Shah</p>
          <p class="costumer__niv>">Sumith Shah</p>
        </div>
      </li>
    </ul>
  </div>
</section>
