<section class="offerings">
    <div class="container">
        <picture>            
            <source media="(min-width:1200px )" type="image/webp"  srcset="./images/offerings/img-1@1x_lg.webp 1x, ./images/offerings/img-1@2x_lg.webp 2x">
            <source media="(min-width:768px )" type="image/webp"  srcset="./images/offerings/img-1@1x_md.webp 1x, ./images/offerings/img-1@2x_md.webp 2x">
            <source media="(min-width:480px )" type="image/webp"  srcset="./images/offerings/img-1@1x_sm.webp 1x, ./images/offerings/img-1@2x_sm.webp 2x">

            <source media="(min-width:1200px )" type="image/png"  srcset="./images/offerings/img-1@1x_lg.png 1x, ./images/offerings/img-1@2x_lg.png 2x">
            <source media="(min-width:768px )" type="image/png"  srcset="./images/offerings/img-1@1x_md.png 1x, ./images/offerings/img-1@2x_md.png 2x">
            <source media="(min-width:480px )" type="image/png"  srcset="./images/offerings/img-1@1x_sm.png 1x, ./images/offerings/img-1@2x_sm.png 2x">


            <img src="./images/offerings/img-1@1x_sm.png" alt="" class="offerings__img">
        </picture>
        <div class="offerings__main">
            <h1 class="offerings__title">
            <p class="offerings__subline"></p>
            <ul class="offerings__list">
                <li class="offerings__item">
                    <svg class="offerings__svg-list">
                        <use href="./images/icons.svg#rocket"></use>
                    </svg>
                    <h2 class="offerings__headline-text-item"></h2>
                    <p class="offerings__subline-text-item"></p>
                </li>
                <li class="offerings__item">
                    <svg class="offerings__svg-list">
                        <use href="./images/icons.svg#touch"></use>
                    </svg>
                    <h2 class="offerings__headline-text-item"></h2>
                    <p class="offerings__subline-text-item"></p>
                </li>
            </ul>
            <div class="offerings__bottom-part"><button class="offerings__order-btn">
                <a href="" class="offerings__link-bottom">
                    <svg class="offerings__link-svg"><use href="./images/icons.svg#"></use></svg>
                </a>
            </div>
        </div>
    </div>
</section>