<!-- subscribe -->
<section class="subscribe container">
  <!-- <img class="subscription__img" src="" alt="banan" /> -->

  <h2 class="subscribe__lable">Subscribe To Get Special Offers</h3>
  <p class="subscribe__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
    enim in eros elementum tristique.
  </p>
  <form
    class="subscribe-form"
    name="signup_form"
    autocomplete="on"
    novalidate
  >
    <input
      class="subscribe-form__input"
      type="email"
      name="email"
      placeholder="Enter your email"
    />
    <button class="btn subscribe-form__btn" type="submit">Subscribe</button>
  </form>
</section>
