.hero {
  padding-top: 60px;
  padding-bottom: 50px;
}

.hero__title {
  @extend %title;
  margin-bottom: 28px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 44px;
  }
}

.hero__descr {
  @extend %paragraph;
  min-width: 266px;
  margin-bottom: 28px;
  padding-right: 14px;

  @media screen and (min-width: $tablet) {
    width: 336px;
    margin-bottom: 40px;
  }
}
