.offerings{
    background-image: url(../images/offerings/bg@1x_sm.png);
    background-repeat: no-repeat;
}
// offerings img container
.offerings__img-container{
    display: flex;
}
// .offerings__img{

//     // &--middle{

//     // }
//     // &--small{

//     // }

//     &--middle,&--small{
//         @media screen and (max-width:479px) and (min-width:1200px) {
//                 position: absolute;
//                     width: 1px;
//                     height: 1px;
//                     margin: -1px;
//                     border: 0;
//                     padding: 0;
//                     white-space: nowrap;
//                     clip-path: inset(100%);
//                     clip: rect(0 0 0 0);
//                     overflow: hidden;
//         }
//     }
// }

// offerings main
// .offerings__main{

// }

.offerings__title{
    @extend %title;
}
.offerings__subline{
    @extend %paragraph
    
}
