.subscrib {
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 60px;

    @media screen and (max-width: $mobile) {
    display: block;
    text-align: left;}
   
    @media screen and (min-width: $tablet) {
        margin-top: 20px;
        margin-bottom: 100px;
    }

    @media screen and (min-width: $desktop) {
        align-items: center;
        margin-top: 0;
        margin-bottom: 35px;
        margin-top: 46px;
            
    }

}

// .subscribtion__img{
//     max-width: 161px;
//     min-height: 78px;
//     @media screen and (min-width: 768px) {
//         max-width: 281px;
//         min-height: 136px;}
    
//     @media screen and (min-width: 1200px) {
//         max-width: 546px;
//         min-height: 266px;}
// }
.subscribtion{
    margin: 0;
}
.subscribtion__label{
    @extend %title;
    
}
.subscribtion__text{
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 40px;
    margin-top: 20px;
    @media screen and (min-width: $tablet) {
    margin-bottom: 24px;
    }
}
.subscribtion__form {

    display: inline-block;
    text-align: center;
   
    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        justify-content: baseline;
        margin-bottom: 0;
       
    }
}
.subscribtion-form__input {
    width: 100%;
    height: 42px;
    background-color: transparent;
    border: 0.854167px solid $yellow;
    border-radius: 30px;
    color: $grey-placeholder;
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
        width: 395px;
        margin-right: 18px;
        margin-bottom: 0;
    }

    @media screen and (min-width: $desktop) {
        width: 358px;
        margin-right: 32px;
    }
    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        height: 100%;
    }
}

.subscribtion-form__btn{
       margin-top: 20px;
}